# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    minishell_tester_syntax.yml                        :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: umeneses <umeneses@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2024/09/23 16:00:54 by umeneses          #+#    #+#              #
#    Updated: 2026/02/18 19:22:40 by umeneses         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

name: minishell tester >> syntax

on:
  push:
    branches:
    - main
    - '**feature**'
    - '**feat**'
    - '**bugfix**'
    - '**fix**'
    - '**release**'
  pull_request:
    branches:
    - main
    - '**feature**'
    - '**feat**'
    - '**bugfix**'
    - '**fix**'
    - '**release**'

jobs:
  build:
    uses: ./.github/workflows/build.yml

  syntax:
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 2
    defaults:
      run:
        working-directory: ./
    steps:
      - name: Download Minishell Binary
        uses: actions/download-artifact@v4
        with:
          name: minishell-binary-${{ github.sha }}

      - name: Download Test Suite
        uses: actions/download-artifact@v4
        with:
          name: minishell-tester-${{ github.sha }}
          path: minishell_tester

      - name: Make Binary Executable
        run: chmod +x minishell

      - name: Running Tester for Syntax
        run: cd minishell_tester && ./tester syntax


# :: source minishell_tester repository ::
# https://github.com/LucasKuhn/minishell_tester